[submodule "duckdb"]
	path = duckdb
	url = https://github.com/duckdb/duckdb
	branch = main
[submodule "extension-ci-tools"]
	path = extension-ci-tools
	url = https://github.com/duckdb/extension-ci-tools
	branch = main
[submodule "cityparquet"]
	path = cityparquet
	url = git@github.com:HideBa/cityparquet.git
[submodule "src/external/cjseq"]
	path = src/external/cjseq
	url = git@github.com:cityjson/cjseq.git
	branch = Cpp_suppport
[submodule "external/cjseq"]
	branch = Cpp_support
